<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djtools.note.NoteTagRelationMapper">

    <delete id="deleteByNoteId">
        DELETE
        FROM note_tag_rel
        WHERE note_id = #{noteId}
    </delete>

    <insert id="insert">
        INSERT INTO note_tag_rel (note_id, tag_id)
        VALUES (#{noteId}, #{tagId})
        ON CONFLICT DO NOTHING
    </insert>
</mapper>
